.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store
inst/doc
._.DS_Store
._.gitignore
.Rbuildignore
data-raw/_potentiall_useful_buildCDS.R
R/._buildCDS.R
R/._predictDomains.R
R/._predictNMD.R
R/._splicingFunctions.R
doc/*.Rmd
doc/*.R
Meta
