.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store
inst/doc
._.DS_Store
._.gitignore
.Rbuildignore
R/._buildCDS.R
R/._predictDomains.R
R/._predictNMD.R
R/._splicingFunctions.R
doc/*.R
Meta
data-raw
docs
